* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: rgb(65, 65, 104);
  /* background-color: rgb(123, 62, 181); */
  color: white;
}

.logo {
  font-size: 30px;
  margin-left: 20px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
.Home,
.About,
.Contact {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin: 0 10px;
  cursor: pointer;
}
.Home:hover,
.About:hover,
.Contact:hover {
  color: white;
  text-decoration: underline;
}

.mobile-menu-icon {
  display: none;
}

/* .....................home................. */

.home-container {
  margin-top: 5px;
  background-color: white;
}
.img-1 {
  /* margin-top: 30px; */
  width: 130%;
  margin: 30px 30px 30px -47px;
  /* height: 70%; */
}
.image-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(65, 65, 104);
  height: 100%;
}
.content {
  opacity: 0.5;
  margin-top: 0px;
}
.Contact-1 {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin: 0 10px;
  cursor: pointer;
}
.container-1 {
  /* background-color: rgb(123, 62, 181); */
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  /* height: auto;
  width: 100%; */
}

/* ....................................contact page........................... */
.card {
  margin-top: 10px;
  background-color: rgb(145, 145, 183);
  height: 700px;
  /* width: 50%; */
  /* margin: auto; */
}
.card,
.contact-2 {
  width: auto;
}
.contact-2 {
  background-color: rgb(65, 65, 104);
  /* margin-left: 40px; */
  margin-top: 10px;

  line-height: 10px;
  height: 700px;
}

h2 {
  color: black;
  text-align: center;
}

.icons {
  color: rgb(65, 65, 104);
  font-size: 30px;
  margin-top: 70px;
}
.icons-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: rgb(65, 65, 104);
  margin-top: 70px;
  cursor: pointer;
}
.form input {
  margin: 37px 30px 40px 70px;
  padding: 8px 266px 3px 8px;
  line-height: 30px;
}

.item {
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

span h2 {
  color: rgb(65, 65, 104);
  text-transform: capitalize;
}

p {
  color: white;
}

button {
  margin: 10px 30px 40px 20px;
  padding: 8px 26px 3px 8px;

  line-height: 30px;
}

.heading {
  color: rgb(145, 145, 183);

  margin-top: 20px;
  justify-content: center;
  text-align: center;
}
.img-container {
  width: 70%;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  border: 7px solid rgb(65, 65, 104);
}

/* ............................cart................................... */
.cart-heading {
  color: white;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.Contact-1:hover{
  color: white;
}

.cart-item {
  display: flex;
  flex-direction: column;
}

.cart-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* .flex-1{
margin-top: 30px;

} */

.flex {
 
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(145, 145, 183);
}

.shopping-card {
  justify-content: space-between;
  background-color: rgb(65, 65, 104);
  padding: 20px 30px;
  color: white;
  position: fixed;
  width: 100%;
}

.product-item {
  margin-top: 20px;
  padding: 20px;
  color: black;
  margin-top: 70px;
  justify-content: center;
  text-align: center;
}
/* .............................form..................... */

.form h1 {
  /* margin: 0 auto; */
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.sign-form {
  background-color: rgb(65, 65, 104);
  height: 50%;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
h1 {
  color: rgb(65, 65, 104);
}

.label {
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}
.btn {
  color: white;
  background-color: rgb(145, 145, 183);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 8px;
  margin: 0 auto;
 margin-top: 45px;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  margin-bottom: 30px;
  display: block;
 /* background-color: red; */
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  /* background-color: rgb(145, 145, 183); */
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px 5px 5px 5px;
}
.img-header {
  margin: 0 auto;
  margin-top: 10px;
  justify-content: center;
  text-align: center;

  width: 28%;
}
/* .slider {
  margin-left: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}


.your-app {
  .rsis-container {
   background-color: black;
  }
}

.your-app {
  .rsis-image {
    background-size: contain !important;
  }
} */


@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .Contact-1 {
    justify-content: center;
    text-align: center;
  }

  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgb(65, 65, 104);
    left: 0;
    top: 75px;
    width: 100%;
    transition: all 0.5s ease-out;
    z-index: 1;
  }

  .Home,
  .About,
  .Contact {
    text-align: center;
    font-size: 20px;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    /* color: white; */
    /* background-color: rgb(123, 62, 181); */
    border: none;
    outline: none;
    top: 15px;
    right: 1px;
  }

  .image-container {
    overflow: hidden;
    /* display: flex; */
    flex-direction: row;
    border: 1px solid rgb(123, 62, 181);
    height: 20%;
  }
}
.header {
  text-align: center;
  justify-content: center;
  margin-top: 300px;
}
.header button {
  background-color: rgb(123, 62, 181);
  color: white;
  padding: 10px;
  border-radius: 7px;
}

@media screen and (max-width: 800px) {
  .container-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }
  .contact-2 {
    margin-top: 0px;
  }
  .form input {
    margin: 51px 22px 20px 46px;
    padding: 6px 85px 10px 20px;
  }

  .navbar {
    width: 100%;
  }


  .sign-form {
    background-color: rgb(65, 65, 104);
    margin-top: 20px;
    height: auto;
    width: auto;
  }
  .sign-form h1 {
    margin-top: 30px;
    color: rgb(65, 65, 104);
  }
.product-item{
  width: 100%;
}
 
p{
  margin-bottom: 0px;
}
.btton{
  padding: auto;
  justify-content: center;
  text-align: center;
}




}
